@font-face {
    font-display: swap;
    font-family: 'retro';
    font-weight: 100;
    src:url('../css/fonts/PressStart2P.woff2') format('woff2'),
        url('../css/fonts/PressStart2P.woff') format('woff'),
        url('../css/fonts/PressStart2P.tff') format('truetype');
}