.footer{
    height: 100vh;
    display: flex;
    .text{
        height: 100vh;
        width: 10rem;
        background-color: black;
        display: flex;
        justify-content: center;
        padding: 1rem;
        
        p{
            font-size: 2rem;
            writing-mode: tb-rl;
            text-align: center;
            transform: rotate(-180deg);
            color: white;
        }
    }
    .info{
        width: 72rem;

        .cover{
            margin:2rem;
            background-color: black;

            display: flex;
            flex-direction: column;
            //justify-content: space-around;

            height:90%;
            padding: 20rem 20rem 5.5rem;
            &>*{
                margin-bottom: 8rem;
            }
            .logo{
                width: 28rem;
                height: 28rem;
                background-color: white;

                display: flex;
                
                img{
                    width: 90%;
                    margin:auto;
                }
                
            }

            .news{
                background-color: white;
                width: 28rem;
                height: 4rem;
            }

            .social{
                display: flex;
                justify-content: space-between;
                width: 28rem;
                div{
                    width: 4rem;
                    background-color: white;
                    height: 4rem;
                    border-radius: 50%;
                }
            }
        }
        .copyright{
            background-color: yellowgreen;

            height: 10%;
        }
    }
}