.home{
    height: 74rem;
    min-width: 100vw; // tenho de dizer min ou ele encolhe
    display: flex;
    flex-direction: column;
    .esq{
        height: 40rem;
        width: 100%;
        display: flex;
        border: black 1rem solid;
        @media (min-width: 1200px){
            height: 100vh;
            width: 50%;

        }
        .logo{
            display: flex;
            height: 100%;
            width: 90%;
            img{
                margin:auto;
            }
        }
        .text{
            width: 10%;
            background-color: black;
            display: flex;
            justify-content: center;
            padding: 1rem;
            
            p{
                font-size: 1rem;
                writing-mode: tb-rl;
                text-align: center;
                transform: rotate(-180deg);
                color: white;
                @media (min-width: 1200px){
                    font-size: 2rem;
                }
            }
        }
    }
    .drt{
        height: 34rem;
        width: 100%;
        background-color: lightcoral;
        transition: background-color ease 0.5s;
        @media (min-width: 1200px){
            height: 100vh;
            width: 50%;

        }
    }
    @media (min-width: 1200px){
        height: 100vh;
        flex-direction: row;
    }
}