.home{
    height: 95vh;
    min-width: 100vw; // tenho de dizer min ou ele encolhe
    display: flex;
    flex-direction: column;
    background-color: black;
    .esq{
        height: 95vh;
        width: 100%;
        display: flex;
        //border: black 1rem solid;
        @media (min-width: 1024px){
            height: 100vh;
            width: 50%;

        }
        .logo{
            display: flex;
            height: 100%;
            width: 100%; // 85%
            background-image: url(../images/Logo.png);
            background-repeat: no-repeat;
            background-size: 105% 100%;
            background-position: center;
            @media (min-width: 1200px){
                background-size: cover;
            }
            @media (min-width: 1400px){
                background-image: url(../images/Logo_big.png);
            }
            img{
                //margin:auto;
            }
        }
        .text{
            width: 0%; // verificar depois 15%
            background-color: white;
            display: flex;
            justify-content: center;
            padding: 1rem;
            transform: rotate(-180deg);
            &:hover p{
                animation: glitch3 2.5 linear infinite;

                &:nth-child(2) {
                    animation: glitch2 2.5s infinite;
                  }
                &:nth-child(3) {
                    animation: glitch1 2.5s infinite;
                }
            } 
            position: relative;

            
            p{
                font-family: 'retro';
                font-size: 2rem;

                position: absolute;
                top: 25%;

                //top:24.9%;
                //left:31%;

                writing-mode: tb-rl;
                text-align: center;
                
                color: #f16f6f;
                

                @media (min-width: 1024px){
                    font-size: 2rem;
                }
                
                &:nth-child(2) {
                    color: #67f3da;
                    top:25%;

                    //top:25.1%;
                    //left:29%;
                  }
                  
                &:nth-child(3) {
                    color: black;
                    top:25%;

                    //left:30%;
                }
            }
        }
    }
    .drt{
        display: none;
        height: 34rem;
        width: 100%;
        background-color: black;
        //background-image: url(../images/home_2.png);
        background-image: url(../images/minmax_gif2.gif);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
        //transition: background-color ease 0.5s;
        box-shadow: inset 1rem 0rem 2rem rgba(0,0,0,0.60);
        @media (min-width: 1024px){
            display: block;
            height: 100vh;
            width: 50%;

        }
    }
    @media (min-width: 1024px){
        height: 100vh;
        flex-direction: row;
    }
}
