.home{
    height: 74rem;
    min-width: 100vw; // tenho de dizer min ou ele encolhe
    display: flex;
    flex-direction: column;
    .esq{
        height: 40rem;
        width: 100%;
        display: flex;
        //border: black 1rem solid;
        @media (min-width: 1200px){
            height: 100vh;
            width: 50%;

        }
        .logo{
            display: flex;
            height: 100%;
            width: 85%;
            background-image: url(../images/Logo.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;

            img{
                //margin:auto;
            }
        }
        .text{
            width: 15%;
            background-color: black;
            display: flex;
            justify-content: center;
            padding: 1rem;
            transform: rotate(-180deg);
            &:hover p{
                animation: glitch3 2.5 linear infinite;

                &:nth-child(2) {
                    animation: glitch2 2.5s infinite;
                  }
                &:nth-child(3) {
                    animation: glitch1 2.5s infinite;
                }
            } 
            position: relative;

            
            p{
                font-family: 'retro';
                font-size: 2rem;

                position: absolute;
                top: 25%;

                //top:24.9%;
                //left:31%;

                writing-mode: tb-rl;
                text-align: center;
                
                color: #f16f6f;
                

                @media (min-width: 1200px){
                    font-size: 2rem;
                }
                
                &:nth-child(2) {
                    color: #67f3da;
                    top:25%;

                    //top:25.1%;
                    //left:29%;
                  }
                  
                &:nth-child(3) {
                    color: white;
                    top:25%;

                    //left:30%;
                }
            }
        }
    }
    .drt{
        height: 34rem;
        width: 100%;
        background-color: lightcoral;
        transition: background-color ease 0.5s;
        @media (min-width: 1200px){
            height: 100vh;
            width: 50%;

        }
    }
    @media (min-width: 1200px){
        height: 100vh;
        flex-direction: row;
    }
}
