#loader {
    width: 100vw;
    height: 100vh;
    background-color: rgb(50, 50, 50);
    img{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        animation: rotate 2s linear infinite;
    }
}


.loading{
    visibility: hidden;
    height: 100vw;
    overflow-y: hidden;
}
.loaded{
    visibility: visible;
    height: unset;
    overflow-y: unset;
}