.slider{
    display: flex;
    flex-direction: column;
    article{
        width: 100vw;
        height: 100%;
        a{
            text-decoration: none;
            height: 64rem;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-between;
            padding: 1rem;
            transition: background-color ease 0.5s;
            @media (min-width:1200px) 
            {
                padding: 6rem;
                height: 100vh;
                border-right: solid 0.1rem black;
            }
            .slider_content{
                text-align: center;
                .slider_img{
                width: 75%;
                height: 55vh;
                margin: 0 auto 3rem;
                
                @media (min-width:1200px) 
                {
                    width: 100%;
                }
                @media (min-width:1440px) 
                {
                    //width: 33rem;
                }
                }
                h3{
                    font-family: 'Cairo';
                    text-align: left;
                    font-size: 2.8rem;
                    color:black;
                    margin-bottom: 2.5rem;
                }
                p{
                    width: 100%;
                    margin: 0 auto;
                    color:black;
                    text-align: left;
                    font-family: 'Source';
                    font-size: 1.6rem;
                    line-height: 2.2rem;
                }
            }

            .plus{
                opacity: 0;
                transition: opacity 0.4s cubic-bezier(.32,.24,.15,1);
            }

            &:hover{
                background-color: black;
                .plus{
                    opacity: 1;
                }
                p{
                    color:white
                }
                h3{
                    color:white
                }
            }
            
        }
        @media (min-width:1200px) 
        {
            width: 45rem;
        }
        @media (min-width:1400px) 
        {
            //width: 45rem;
        }
    }
    @media (min-width:1200px) 
    {
        flex-direction: row;
    }
}