html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}

.home{
    height: 100vh;
    width: 100vw;
    display: flex;
    .esq{
        height: 100vh;
        width: 50%;
        display: flex;
        border: black 1rem solid;
        .logo{
            display: flex;
            height: 100%;
            width: 90%;
            img{
                margin:auto;
            }
        }
        .text{
            width: 10%;
            background-color: black;
            display: flex;
            justify-content: center;
            padding: 1rem;
            
            p{
                font-size: 2rem;
                writing-mode: tb-rl;
                text-align: center;
                transform: rotate(-180deg);
                color: white;
            }
        }
    }
    .drt{
        height: 100vh;
        width: 50%;
    }
}


