*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: beige;
    min-height: 100vh;
    overflow-y: hidden;
    overflow-x: scroll;
}
.div1{
    background-color: green;
    min-height: 100vh;
    min-width: 100vw;
}
.div2{
    background-color: lightblue;
    min-height: 100vh;
    min-width: 100vw;
}
.div3{
    background-color: pink;
    min-height: 100vh;
    min-width: 100vw;
}
.div4{
    background-color: red;
    min-height: 100vh;
    min-width: 100vw;
}

.wrapper{
    display: flex;
}